{% extends 'main.html' %}

{% block content%}


<div class="section bg-light m-2">
    
    <div class="imag text-center">

        <div class="centerd">
            <form class="formin" >
                <input type="text" name = "q" class="rounded-3 border-0" placeholder="search" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </form>
    

        </div>

        <h1 class=" text-center"> he hel </h1>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
        </p>



 

    </div>

    <div class="card justify-content-center text-center ">
        <div class="card-header">
          Featured
        </div>
        <div class="homecards  mx-5">
            <div class="card border-0 shadow-sm ">
                <div class="card-header bg-white border-0">
                  Category
                  
                </div>
                <div class="dropdown">
                  <button class="btn  " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Buy
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for subcategory in subcat %}
                    <a class="dropdown-item" href="#">{{subcategory.name}}</a>
                    {% endfor %}
                  </div>
                </div>
                <div class="dropdown">
                  <button class="btn  " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rent
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
            </div>
            <div class="card border-0 ">
                <div class="cardlist m-2 rounded-3 shadow-sm">
                  {% for property in properties %}
                    <div class="card m-2 p-2 rounded-3 shadow-sm w-100" style="width: 18rem;">
                      <div class="des">
                        <div class="card w-100  p-2  m-0 border-0" >
                          <img class="img-fluid" src="{{property.image.url}}" alt="Card image cap">
                        </div>
                        <div class="card w-100  p-2  m-0 border-0">
                            <div class="text p-2 fw-bold text-black">
                              {{property.name}}
                            </div>
                            <div class="text mb-2 p-2 ">
                              <p class="card-text">{{property.description}}</p>
                            </div>
                            <div class="text mb-2 text-success">
                              {{property.location}}
                            </div>
                            <div class="text text-success fw-bold">
                              KSH {{property.price}}
                            </div>
                            <a href="{% url 'property-view' property.id %}" class="btn btn-outline-primary">view ...</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card border-0 ">
                <div class="card-header bg-white border-0">
                  Filter
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                </div>
            </div>
        </div>
      </div>

</div>


{%endblock%}